.rocket-wrapper {
    background: url(../../assets/spaceTravel.gif);
    width: 100vw;
    overflow: hidden;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;
}

.seats {
    background: whitesmoke;
    width: 70vw;
    height: 35vh;
    border-radius: 10% 50% 50% 10%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1%;
    position: relative;
    background: whitesmoke;
    box-shadow: 0 0 60px 0 white;
    z-index: 999 !important;
}
/* .seats::after{
    content: '';
    position: absolute;
    height: 60%;
    width: 18%;
    right: -6vw;
    top: 5vh;
    transform: rotate(45deg);
    z-index: -99 !important;
    background: red;
} */

.windowL,
.windowR {
    /* background-color: ; */
    height: 10vh;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* padding:2px; */
}

.seat {
    width: 4.7vw;
    height: 9vh;
    border-radius: 1rem;
    cursor: grab;
    border-radius: 20% 30% 30% 20%;
    position: relative;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: 900;
    font-size: 12px;
    padding: 1%;
}

.seat::after {
    content: '';
    width: 15%;
    height: 100%;
    left: -1px;
    position: absolute;
    border-radius: 30%;
    background-color: #ccc;
    z-index: 9;
}

.seat::before {
    content: '';
    width: 95%;
    height: 90%;
    position: absolute;
    border-radius: 0% 10% 10% 0%;
    left: 0;
    right: 0;
    transform: translate(-1%,5%);
    /* margin-left: auto;
    margin-right: auto; */
    z-index: 9;
    background-color: transparent;
    border: 3px solid #ccc;
    border-left: transparent;
    border-right: transparent;
}

.seat:active {
    cursor: grabbing;
    background-color: white !important;
}

.notBooked {
    background-color: #333;
}

.booked {
    background-color: red !important;
}
.chair{
    font-size: 3rem;
    color: white;
}