:root {
    --black: #565656;
    --dark-gray: #868689;
    --gray: #eaeae6;
    --red: #833111;
    --silver: #dcdcd7;
    --dark-green: #515f56;
    --orange: #cc9339;
  } 
  
.scene{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: black;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.rocket{
    object-fit: cover;
    background-color: transparent;
    position: relative;
    animation:  rocket .2s ease infinite;
}
.rocket img{
    right: -10rem;
    bottom: -9rem;
    /* position: absolute; */
    transform: rotate(90deg);
    z-index: 9;
}
.rocket::before{
    content: '';
    position: absolute;
    bottom: 7px;
    right: 200px;
    transform: translateX(-40%);
    width: 10px;
    height: 150px;
    border-radius: 50% 50% 50% 50%;
    background: linear-gradient(yellow,red);
    box-shadow: 0 0 9000px 50px var(--orange);
    filter: blur(4px);
    transform: rotate(90deg);
}
.rocket::after{
    content: '';
    position: absolute;
    bottom: 53px;
    right: 200px;
    z-index: -1;
    width: 10px;
    height: 150px;
    border-radius: 50% 50% 50% 50%;
    background: linear-gradient(yellow,red);
    box-shadow: 0 0 9000px 50px var(--orange);
    filter: blur(4px);
    transform: rotate(90deg);
}
.notice-text{
    color: royalblue;
    background-color: white;
    text-decoration: underline;
    text-align: center;
    font-size: 1.3rem;
}

@keyframes rocket {
    0%{
        transform: translateY(-3px);
        transform:  translateX(2px);
    }
    100%{
        transform:  translateY(3px);
        transform: translateX(-2px);
    }
}

.info{
    width: 40vw;
}

@media screen and (max-width: 650px){
   .scene{
    flex-direction:  column;
    justify-content: flex-start;
   }
}
@media screen and (max-width: 580px){
    .scene{
        height: 80vh;
    }
    .notice-text{
        font-size: 0.7rem;
    }
}
@media screen and (max-width: 500px){
    .scene{
        height: 70vh;
    }
    .info h3{
        font-size: 0.7rem;
    }
    .rocket img{
        width: 60px;
    }
    .rocket::before{
        content: '';
        position: absolute;
        bottom: 3px;
        right: 100px;
        transform: translateX(-40%);
        width: 6px;
        height: 100px;
        border-radius: 50% 50% 50% 50%;
        background: linear-gradient(yellow,red);
        filter: blur(4px);
        transform: rotate(90deg);
    }
    .rocket::after{
        content: '';
        position: absolute;
        bottom: 30px;
        right: 100px;
        z-index: -1;
        width: 6px;
        height: 100px;
        border-radius: 50% 50% 50% 50%;
        background: linear-gradient(yellow,red);
        filter: blur(4px);
        transform: rotate(90deg);
    }
}
@media screen and (max-width: 450px){
    .scene{
        height: 60vh;
    }
}

@media screen and (max-width: 400px){
    .scene{
        height: 50vh;
    }
}